@mixin adapt($width)
  @media screen and (min-width: $width)
    @content

@mixin gCols($columns-nb, $columns-width, $gutter-width)
  display: grid
  grid-template-columns: repeat($columns-nb, $columns-width)
  column-gap: $gutter-width

// BREAKPOINTS
$desktop-hd: 1440px
$desktop-sd: 1024px
$tablet: 768px
$mobile: 414px

.container
  margin: 0 auto

  +adapt($mobile)
    // max-width:

  +adapt($tablet)
    // max-width:

  +adapt($desktop-sd)
    // max-width:

  +adapt($desktop-hd)
    max-width: 1240px

.gridSystem
  // Grid used for mobiles
  +adapt($mobile)
    +gCols(3, 106px, 24px)

  // Grid used for portrait tablets
  +adapt($tablet)
    +gCols(8, 62px, 32px)

  // Grid used for standard-definition desktops and landscape tablets
  +adapt($desktop-sd)
    +gCols(12, 48px, 32px)

  // Grid used for high-definition desktops
  +adapt($desktop-hd)
    +gCols(12, 74px, 32px)