@font-face {
  font-family: "bluu-suuperstar-black";
  src: url("https://yannglt-type.s3.eu-west-3.amazonaws.com/bluu-suuperstar-black.woff") format("woff"),
       url("https://yannglt-type.s3.eu-west-3.amazonaws.com/bluu-suuperstar-black.woff2") format("woff2");
}

@font-face {
  font-family: "gt-america-expanded-black";
  src: url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-expanded-black.woff") format("woff"),
       url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-expanded-black.woff2") format("woff2");
}

@font-face {
  font-family: "gt-america-italic";
  src: url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-italic.woff") format("woff"),
       url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-italic.woff2") format("woff2");
}

@font-face {
  font-family: "gt-america-light";
  src: url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-light.woff") format("woff"),
       url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-light.woff2") format("woff2");
}

@font-face {
  font-family: "gt-america-light-italic";
  src: url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-light-italic.woff") format("woff"),
       url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-light-italic.woff2") format("woff2");
}

@font-face {
  font-family: "gt-america-mono-bold";
  src: url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-mono-bold.woff") format("woff"),
       url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-mono-bold.woff2") format("woff2");
}

@font-face {
  font-family: "gt-america-mono-light";
  src: url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-mono-light.woff") format("woff"),
       url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-mono-light.woff2") format("woff2");
}

@font-face {
  font-family: "gt-america-mono-medium";
  src: url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-mono-medium.woff") format("woff"),
       url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-mono-medium.woff2") format("woff2");
}

@font-face {
  font-family: "gt-america-regular";
  src: url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-regular.woff") format("woff"),
       url("https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-regular.woff2") format("woff2");
}