// IMPORTS
@import 'utils/reset'
@import 'utils/mixins'
@import 'utils/splitting'

@import 'atoms/shades'
@import 'atoms/typefaces'
@import 'atoms/typescale'
@import 'atoms/breakpoints'
@import 'atoms/motion'
@import 'atoms/spacing'
@import 'atoms/alias'

@import 'components/text-styles'
@import 'components/grid'
@import 'components/button'
@import 'components/link'
@import 'components/navbar'
@import 'components/fact'
@import 'components/clubmodal'
@import 'components/footer'

@import 'themes/default'

@import 'pages/about'
@import 'pages/notes'
@import 'pages/note'
@import 'pages/contact'
// @import 'pages/records'

.gsap-debug-screen
  display: none
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  background-color: $oblivion-1100

  z-index: 999999

  +adapt($bkp-desktop-hd)
    display: block

.news-banner
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 8px 0 12px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-end
  // background-color: $maelstrom-500
  // Special background-color for Specify job update
  background-color: #624DE3
  z-index: 512

  +motion($time-quick, $weight-medium, $speed-standard, background-color)

  &:before, &:after
    content: ''
    position: absolute
    // background-color: $maelstrom-500
    // Special background-color for Specify job update
    background-color: #624DE3
    width: 116px
    height: 100%
    top: 0

  &:before
    left: -116px

  &:after
    right: -116px

  @extend .bold
  color: #ffffff
  text-align: center

  &:hover
    cursor: pointer
    // background-color: $maelstrom-600
    background-color: #4938C3

  .line-breaker
    +adapt($bkp-tablet)
      display: none

  a
    @extend .bold
    display: inline-block
    width: 100%

  .link
    text-decoration: underline

    +adapt($bkp-tablet)
      padding-left: 4px

  .icon
    padding-left: 4px
    // color: $maelstrom-100
    // Special background-color for Specify job update
    color: #AB9FF4

.tldr
  // Inital spacing + navbar height + info banner
  margin-top: calc(#{$space-xxl} + 96px + 48px)
  position: relative

  +adapt($bkp-tablet)
    // Inital spacing + navbar height + info banner
    margin-top: calc(#{$space-xxl} + 96px + 24px)
    margin-left: -116px
    margin-right: -116px

  +adapt($bkp-desktop-sd)
    margin-top: calc(#{$space-xxxl} + 96px + 24px)

  .welcome-repeat
    text-align: center

.welcome-repeat p
  position: absolute
  top: 0
  left: 0
  width: 100%
  color: $oblivion-1100

  &:nth-child(1)
    color: #ffffff
    -webkit-text-stroke: 1px #ffffff

  +adapt($bkp-mobile)
    @for $i from 1 through 8
      &:nth-child(#{$i})
        z-index: 0 - $i * 10
        transform: translateY(-$space-m + $i * $space-m)

  +adapt($bkp-tablet)
    @for $i from 1 through 8
      &:nth-child(#{$i})
        z-index: 0 - $i * 10
        transform: translateY(-$space-l + $i * $space-l)

  +adapt($bkp-desktop-sd)
    @for $i from 1 through 8
      &:nth-child(#{$i})
        z-index: 0 - $i * 10
        transform: translateY(-$space-xl + $i * $space-xl)

  &:nth-child(2)
    -webkit-text-stroke: 1px $oblivion-300
    -webkit-text-fill-color: $oblivion-1100

  &:nth-child(3)
    -webkit-text-stroke: 1px $oblivion-400
    -webkit-text-fill-color: $oblivion-1100

  &:nth-child(4)
    -webkit-text-stroke: 1px $oblivion-500
    -webkit-text-fill-color: $oblivion-1100

  &:nth-child(5)
    -webkit-text-stroke: 1px $oblivion-600
    -webkit-text-fill-color: $oblivion-1100

  &:nth-child(6)
    -webkit-text-stroke: 1px $oblivion-700
    -webkit-text-fill-color: $oblivion-1100

  &:nth-child(7)
    -webkit-text-stroke: 1px $oblivion-800
    -webkit-text-fill-color: $oblivion-1100

  &:nth-child(8)
    -webkit-text-stroke: 1px $oblivion-900
    -webkit-text-fill-color: $oblivion-1100

.etiquette
  margin: 0 auto
  max-width: calc(360px - 24px)
  padding: $space-xs
  position: relative

  background-color: $thunderstorm-500
  transform: translateY(272px)

  +adapt($width-mobile)
    max-width: 360px

  +adapt($bkp-tablet)
    transform: translateY(96px)

  +adapt($bkp-desktop-sd)
    transform: translateY($space-xxxl)

  +adapt($bkp-desktop-hd)
    max-width: 376px

  &-title
    padding: $space-xs

    @extend .display-3
    color: $thunderstorm-500
    text-align: center
    background-color: $oblivion-1100

    .add-oo
      display: none

      +adapt($width-mobile)
        display: inline

  &-properties
    margin-top: $space-xs

  &-property
    padding-top: $space-xs
    padding-bottom: $space-xs

    border-bottom: 1px solid $thunderstorm-700

  .name
    color: $thunderstorm-900

  .logo
    margin: 0 auto
    margin-top: $space-l
    margin-bottom: $space-m

    height: 96px
    width: 96px
    background-image: url("@/static/icons/logo-thunderstorm-96.svg")
    background-repeat: no-repeat
    background-size: 96px 96px
    background-position: center

  .subtitle, .desc, .annotation
    text-align: center

  .subtitle
    margin-bottom: $space-xs

  .desc
    margin-bottom: $space-m
    letter-spacing: 0

  .annotation
    margin-bottom: $space-xs

  &-electricity
    position: relative
    left: 50%
    bottom: 0
    max-width: 100vw

    z-index: -50

    +adapt($bkp-mobile)
      transform: translateX(-50%) translateY(calc(-1 * (240px + 232px + 4px - 272px)))

    +adapt($bkp-tablet)
      transform: translateX(-50%) translateY(calc(-1 * (240px + 232px + 4px - 96px)))

    +adapt($bkp-desktop-sd)
      transform: translateX(-50%) translateY(calc(-1 * (240px + 232px + 4px - #{$space-xxxl})))
      // 240px = illustration height
      // 232px = translateY from etiquette bottom
      // 4px = electricityLink's height
      // 120px = etiquette inital translateY

    &Diagram
      +adapt($bkp-tablet)
        position: absolute
        height: 240px
        width: 532px
        background-image: url("@/static/images/intro.svg")
        background-repeat: no-repeat
        background-size: 532px 240px
        background-position: center

        z-index: -10

    &Diagram.left

      +adapt($bkp-tablet)
        left: 50%
        transform: translateX(calc(-100% - 360px / 2)) scaleX(-1)

      +adapt($width-desktop-hd)
        left: 0
        transform: scaleX(-1)

      +adapt(1680px)
        left: 50%
        transform: scaleX(-1) translateX(calc(100% + (1680px - 532px - 532px)/2))
        // electricity illustration full translation + electricityLink at 1680px / 2

    &Diagram.right

      +adapt($bkp-tablet)
        right: 50%
        transform: translateX(calc(100% + 360px / 2))

      +adapt($width-desktop-hd)
        right: 0
        transform: none

      +adapt(1680px)
        right: 50%
        transform: translateX(calc(100% + (1680px - 532px - 532px)/2))

    &Link

      +adapt($width-desktop-hd)
        position: absolute
        height: 4px
        width: calc(100vw - 532px - 532px)
        left: 50%
        background-color: $oblivion-500
        // 532px = one electricty illustration width

        z-index: 50
        transform: translate(-50%, calc((240px / 2) + 62px))
        // 240px / 2 = illustration center
        // 62px = translation to match illustrations' strokes position

      +adapt(1680px)
        left: 50%
        width: calc(1680px - 532px - 532px)

    &Extension
      +adapt($width-desktop-hd)
        position: relative
        transform: translateY(214px)
        // 214px = match electricty illustration endings

        &::before, &::after
          content: ''
          position: absolute
          height: 4px
          width: calc((100vw - 532px - 532px - (1680px - 532px - 532px))/2)

          z-index: -5

        &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7)

          &::before
            left: 0

          &::after
            right: 0

        &:nth-child(3), &:nth-child(6)
          &::before, &::after
            background-color: $oblivion-700

        &:nth-child(4), &:nth-child(5), &:nth-child(7)
          &::before, &::after
            background-color: $oblivion-500

        &:nth-child(3)
          &::before, &::after
            transform: translateY(-192px)

        &:nth-child(4)
          &::before, &::after
            transform: translateY(-160px)

        &:nth-child(5)
          &::before, &::after
            transform: translateY(-64px)

        &:nth-child(6)
          &::before, &::after
            transform: translateY(-32px)

.intro
  margin-top: calc(272px + #{$space-xxxl})
  margin-bottom: $space-l

  +adapt($bkp-tablet)
    margin-bottom: $space-xxl
    margin-top: calc(96px + #{$space-xxxxl})

  +adapt($bkp-desktop-sd)
    margin-bottom: $space-xxxl
    margin-top: calc(#{$space-xxxl} + #{$space-xxxxl})
    // margin-top calc first value = etiquette initial translateY

  .container
    @extend .gridSystem

  &-subtitle
    color: $thunderstorm-500
    margin-bottom: $space-xs

    +adapt($bkp-tablet)
      grid-column: span 6

    +adapt($bkp-desktop-hd)
      grid-column: 2 / span 10

    .line-breaker
      display: inline

      +adapt($width-mobile)
        display: none

  &-title
    margin-bottom: $space-m

    +adapt($bkp-tablet)
      grid-column: span 6

    +adapt($bkp-desktop-hd)
      grid-column: 2 / span 9

  &-desc

    +adapt($bkp-tablet)
      grid-column: span 6

    +adapt($bkp-desktop-sd)
      grid-column: span 6
      margin-right: 304px

    +adapt($bkp-desktop-hd)
      margin-right: 0
      grid-column: 2 / span 6

  // &-links
  //   margin-top: 32px
  //   position: relative
  //   display: flex
  //   flex-direction: column
  //   grid-column: span 2
  //
  //   li
  //     display: inline-flex
  //     position: relative
  //
  //   &-linkPrefix
  //     display: none
  //
  //     +adapt($bkp-desktop-hd)
  //       display: inline
  //
  //   .icon
  //     padding-left: 4px
  //
  //     color: $oblivion-300
  //
  //     +motion($time-quick, $weight-small, $speed-standard, color)
  //
  //   +adapt($bkp-tablet)
  //     grid-column: 2 / span 6
  //     flex-direction: row
  //
  //     li:not(:last-of-type)
  //       margin-right: 48px
  //       margin-bottom: 0
  //
  //   +adapt($bkp-desktop-sd)
  //     display: inline
  //     grid-column: span 2
  //     margin-top: 0
  //
  //     li:not(:last-of-type)
  //       margin-right: 0
  //
  //   +adapt($bkp-desktop-hd)
  //     grid-column: 9 / span 4

.projects
  margin-bottom: $space-xxxxl

  +adapt($bkp-tablet)
    margin-bottom: 80px

  +adapt($bkp-desktop-sd)
      margin-bottom: 132px

  +adapt($bkp-desktop-hd)
    margin-bottom: 200px

  .container
    @extend .gridSystem

  .slides
    width: 100%
    max-width: $bkp-desktop-hd

    +adapt($bkp-mobile)
      grid-column: span 2

    +adapt($bkp-tablet)
      grid-column: span 8

    +adapt($bkp-desktop-sd)
      grid-column: span 10

    +adapt($bkp-desktop-hd)
      grid-column: span 12

  .slides-view
    position: relative
    height: 480px
    width: 100%

    +adapt($width-mobile)
      width: 92%

    +adapt($bkp-tablet)
      width: 76%
      height: 576px

    +adapt($bkp-desktop-sd)
      width: 96%
      height: 480px

    +adapt($bkp-desktop-hd)
      width: 100%

  .slide
    position: absolute
    top: 0%
    left: 0%
    width: 100%
    height: 100%
    padding: $space-m

    display: flex
    flex-direction: column
    justify-content: space-between

    background-color: #ffffff
    border-radius: 8px

    +motion($time-extended, $weight-large, $speed-emphasized, transform, opacity)

    user-select: none

    &:not(.activeSlide)
      opacity: 0.4

    & *::selection
      background-color: white

    &.activeSlide:hover
      cursor: grab

    &.activeSlide:active
      cursor: grabbing

    &.prevSlide:active
      opacity: 0.64

    &.nextSlide:active
      opacity: 0.64

    .project-subwrap
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: flex-start

    .project-infos
      width: 100%
      display: flex
      flex-direction: column
      justify-content: space-between

      +adapt($bkp-desktop-sd)
        flex-direction: row

    .title
      margin-bottom: 34px
      max-width: 584px

    .properties
      display: flex
      flex-direction: row
      margin-bottom: 34px

      +adapt($bkp-tablet)
        margin-bottom: 46px

      +adapt($bkp-desktop-sd)
        margin-bottom: 0

    .property
      flex-shrink: 0

    .property:not(:last-of-type)
        margin-right: 32px

        +adapt($bkp-tablet)
          margin-right: 48px

    .property.duration
      display: none

      +adapt($bkp-tablet)
        display: block

    .project-links
      display: flex
      flex-direction: row-reverse
      justify-content: flex-end
      align-items: flex-end

      .case-study, .nda
        flex-grow: 2

        +adapt($bkp-tablet)
          margin-left: 16px

        +adapt($bkp-desktop-sd)
          flex-grow: auto

      .case-live
        display: none

        +adapt($bkp-tablet)
          display: inline-flex

  .slides-navigator
    margin-top: 40px

    .progress
      height: 1px
      width: 100%
      background-color: $oblivion-500

      &-current
        height: 100%
        width: 33%
        background-color: $oblivion-025

        +motion($time-medium, $weight-small, $speed-standard, width)

    .current-navs
      margin-top: 15px
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center

    .current
      @extend .caption
      color: $oblivion-025
      position: relative

      transform: translateY(-2px)

      .slideNumber
        position: absolute

        +motion($time-medium, $weight-small, $speed-standard, transform, opacity)

        &:not(.activeNumber)
          opacity: 0


      .total
        color: $oblivion-500

    .navs
      display: flex
      align-items: flex-start
      justify-content: flex-start
      flex-direction: row-reverse

      .next, .prev
        display: inline-flex
        padding: 5px

        color: $oblivion-025
        background-color: transparent
        border-radius: 4px
        border: 1px solid $oblivion-300

        +motion($time-standard, $weight-small, $speed-standard, color, border-color, background-color)

        &:not(:disabled):hover
          cursor: pointer
          color: $oblivion-1100
          border-color: transparent
          background-color: #ffffff

        &:focus
          outline: none

        &:disabled
          opacity: 0.4
          cursor: not-allowed

      .prev
        margin-right: 16px

.portfolio-request
  margin: 0 auto
  max-width: 1208px
  margin-bottom: $space-xxxl
  padding: $space-m

  background-color: $oblivion-900
  border: 2px dashed $maelstrom-500
  border-radius: 8px

  +adapt($bkp-tablet)
    padding: $space-l

  +adapt($bkp-desktop-sd)
    padding: $space-xl

  +adapt($bkp-desktop-hd)
    margin-bottom: $space-xxxxl
    padding: 104px


  .container
    margin-left: 0

    +adapt($bkp-desktop-sd)
      max-width: 584px

  .title
    margin-bottom: $space-xxxs

    +adapt($bkp-desktop-sd)
      margin-bottom: $space-xs

  .desc
    margin-bottom: $space-s

    +adapt($bkp-desktop-sd)
      margin-bottom: $space-m

  .line-breaker

    +adapt($bkp-tablet)
      display: none

.manifesto
  margin: 0 auto
  max-width: $bkp-desktop-hd
  background-color: #ffffff
  overflow: hidden

  border-radius: 16px
  // Fix iOS border-radius and overflow hidden combo
  -webkit-backface-visibility: hidden
  -moz-backface-visibility: hidden
  -webkit-transform: translate3d(0, 0, 0)
  -moz-transform: translate3d(0, 0, 0)

  .container
    @extend .gridSystem
    position: relative

    .atlas-bg
      position: absolute
      height: 256px
      width: 100%
      background-image: linear-gradient(rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.76)), url("@/static/images/atlas.svg")
      background-repeat: repeat
      background-size: 384px 384px
      background-position: top

      z-index: -5

      +adapt($bkp-tablet)
        height: 384px

      +adapt($bkp-desktop-sd)
        height: 512px

      +adapt($bkp-desktop-hd)
        height: 640px

      &::after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        background-image: radial-gradient(136% 100% at 50% 0%, rgba(255, 255, 255, 0.64) 0%, #ffffff 100%)
        background-size: 100% 100%

  .subwrapper
    z-index: 5
    padding: $space-s $space-s 0

    +adapt($bkp-tablet)
      padding: $space-xl $space-xl 0
      grid-column: span 6

    +adapt($bkp-desktop-sd)
      padding: 80px 152px 0
      grid-column: span 6

    +adapt($bkp-desktop-hd)
      margin: 0 auto
      padding: 0
      padding-top: $space-xxxl
      max-width: 792px
      grid-column: span 12

  .subtitle
    margin-bottom: $space-m
    padding: $space-xxxs 0

    border-top: 4px solid $oblivion-1100
    border-bottom: 1px solid $oblivion-1100

    +adapt($bkp-tablet)
      margin-bottom: $space-l

    +adapt($bkp-desktop-sd)
      margin-bottom: $space-xl
      grid-column: span 6

    span
      margin-left: 4px
      color: $oblivion-400

  h2
    text-decoration: underline
    margin-bottom: $space-l

    +adapt($bkp-tablet)
      margin-bottom: $space-xl

  .manifesto-tldr,
  .manifesto-hello

    // +adapt($bkp-desktop-sd)
    //   +gCols(6, 1fr, 40px)
    //
    +adapt($bkp-desktop-hd)
      align-items: flex-start

    .entry
      grid-column: span 2
      margin-bottom: $space-xs
      display: flex
      flex-direction: row
      align-items: flex-start

      +adapt($bkp-desktop-hd)
        margin: 0 auto
        grid-column: span 1
        flex-direction: column-reverse
        justify-content: center

      .icon
        margin-right: $space-xxxxs

        +adapt($bkp-desktop-hd)
          margin: 0 auto
          // margin-right: 0

    .title

      +adapt($bkp-desktop-hd)
        margin-bottom: $space-xxxxs

  .manifesto-tldr
    margin-bottom: $space-l

    +adapt($bkp-tablet)
      margin-bottom: $space-xl
      max-width: 408px

    +adapt($bkp-desktop-sd)
      +gCols(2, 1fr , 40px)
      max-width: 100%

    +adapt($bkp-desktop-hd)
      +gCols(8, 1fr , 40px)

    .entry
      color: $firework-500

      .icon
        color: $firework-700

    .current-position
      margin-bottom: $space-m

      +adapt($bkp-desktop-sd)
        margin-bottom: 0

    .current-position, .passion

      +adapt($bkp-desktop-sd)
        grid-column: span 1

      +adapt($bkp-desktop-hd)
        grid-column: span 3

  .manifesto-hello

    +adapt($bkp-desktop-hd)
      +gCols(8, 1fr , 40px)

    .entry
      color: $maelstrom-500

      +adapt($bkp-desktop-hd)
        transform: translateY(#{$space-xxxxs})

      .icon
        color: $maelstrom-700


  .content

    +adapt($bkp-desktop-hd)
      grid-column: span 6

    p
      line-height: 28px

    p ~ p
      margin-top: 32px

.copyToast
  position: fixed
  width: calc(100vw - #{$space-m})
  bottom: $space-xs
  right: 50%
  padding: $space-s
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

  background-color: $maelstrom-500
  border-radius: 8px

  transform: translateX(50%)
  z-index: 999

  +adapt($bkp-tablet)
    padding: $space-xxs $space-s
    bottom: $space-m
    right: $space-m
    width: 480px
    flex-direction: row
    text-align: left

    transform: translateX(0)

  .icon-container
    margin-bottom: $space-xs
    height: 32px
    width: 32px
    display: flex
    justify-content: center
    align-items: center

    background-color: $maelstrom-100
    border-radius: 16px

    +adapt($bkp-tablet)
      margin-bottom: 0
      margin-right: 16px
      flex-direction: row

  .icon
    color: $maelstrom-500

  .title
    @extend .bold
    color: #ffffff

  .desc
    color: $maelstrom-100

    .line-breaker

      +adapt($bkp-tablet)
        display: none

.slide-enter-active, .slide-leave-active
  +motion($time-medium, $weight-small, $speed-accelerated, transform)

.slide-enter, .slide-leave-to
  transform: translateX(50%) translateY(calc(100% + 48px))

  +adapt($bkp-tablet)
    transform: translateX(calc(100% + 48px))

.page-enter-active, .page-leave-active
  +motion($time-standard, $weight-xlarge, $speed-standard, opacity)

.page-enter, .page-leave-active
  opacity: 0

.manifesto-process
  // background-image: url("@/static/images/process.svg")
  background-image: url("@/static/images/process-wip.svg")
  background-repeat: no-repeat
  background-position-x: center
  background-position-y: -$space-xxxxl

  +adapt($bkp-tablet)
    grid-column: span 6
    background-position-y: -$space-xxxl

  +adapt($bkp-desktop-hd)
    grid-column: span 12
    background-position-y: -$space-xxl

  &-content
    padding-bottom: $space-xxxxl

    +adapt($bkp-tablet)
      padding-bottom: 324px

    +adapt($bkp-desktop-hd)
      padding-bottom: 372px

  //   +adapt($bkp-tablet)
  //     max-width: 520px
  //     padding-bottom: 298px
  //     grid-column: 2 / span 6
  //
  //   +adapt($bkp-desktop-sd)
  //     max-width: 560px
  //     padding-bottom: 270px
  //     grid-column: 2 / span 6
  //
  //   +adapt($bkp-desktop-hd)
  //     max-width: 584px
  //     padding-bottom: 284px
  //     grid-column: 2 / span 6
  //
  // &-title
  //   @extend .heading-2
  //   margin-bottom: 25px
  //   text-align: center
  //
  //   +adapt($bkp-tablet)
  //     text-align: left
  //
  // &-cta
  //   display: inline-flex
  //   position: relative
  //   width: 100%
  //   flex-direction: row
  //   align-items: center
  //   justify-content: center
  //
  //   @extend .caption
  //   color: $maelstrom-500
  //   font-size: 16px
  //   text-transform: uppercase
  //
  //   &:before
  //     content: ''
  //     position: absolute
  //     top: -4px
  //     left: -8px
  //     right: -8px
  //     width: calc(100% + 16px)
  //     height: calc(100% + 8px)
  //     z-index: -50
  //
  //     border-radius: 4px
  //     +motion($time-standard, $weight-small, $speed-standard, background-color)
  //
  //   &:hover
  //
  //     &:before
  //       background-color: $maelstrom-100
  //
  //   +adapt($bkp-tablet)
  //     width: auto
  //     justify-content: flex-start
  //
  //   .icon
  //     color: $maelstrom-700
  //     padding-left: 4px
  //
  //     +motion($time-quick, $weight-small, $speed-standard, transform)

.human
  margin-top: $space-xxl
  margin-bottom: 672px

  +adapt($bkp-desktop-hd)
    margin-top: $space-xxxl

  .container
    @extend .gridSystem

  &-intro
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    z-index: 50

    +adapt($bkp-tablet)
      grid-column: span 6

    +adapt($bkp-desktop-hd)
      grid-column: 2 / span 10

    &-title
      margin-bottom: $space-m
      text-align: center

    &-logo
      align-self: center
      margin-top: $space-m
      height: 48px
      width: 48px
      border: 2px solid $oblivion-700
      border-radius: 24px
      background-image: url("@/static/icons/logo-white-24.svg")
      background-repeat: no-repeat
      background-size: 24px 24px
      background-position: center

  .facts
    position: relative

    +adapt($bkp-tablet)
      grid-column: span 6

    +adapt($bkp-desktop-sd)
      grid-column: span 6

    +adapt($bkp-desktop-hd)
      grid-column: 2 / span 10

    .fact
      width: 416px
      position: absolute
      top: 0

      .action
        display: none

      &.collapsed .desc
        max-height: 256px

      &:nth-child(1)
        left: 50%
        transform-origin: top center
        transform: rotate3d(0, 0, 1, -15deg) translate3d(calc(-100% - 48px), -128px, 0)

      &:nth-child(2)
        right: 50%
        transform-origin: top center
        transform: rotate3d(0, 0, 1, 15deg) translate3d(calc(100% + 48px), -80px, 0)

      &:nth-child(3)
        left: 50%
        transform-origin: top center
        transform: rotate3d(0, 0, 1, -7.5deg) translate3d(calc(-50% - 24px), 128px, 0)