@import 'reset'
@import 'mixins'
@import 'atoms/colors'
@import 'atoms/grid'
@import 'atoms/type'
@import 'components/extract'

body
  background-color: $foam
  max-width: $desktop-hd
  overflow-x: hidden
  margin: 0 auto

.container
  margin-left: 32px
  margin-right: 32px

  // transition: background-color 200ms linear

  +adapt(414px)
    margin: 0 auto
    max-width: 334px

  +adapt(768px)
    max-width: 640px

  +adapt(1024px)
    max-width: 928px

  +adapt(1440px)
    max-width: 1240px

*::selection
  color: $foam
  background-color: $oblivion

img
  pointer-events: none

.who-and-showreel-alert

  .tldr__intro
    transform: translateY(11px)

#intro
  overflow: hidden
  margin-top: 94px
  margin-bottom: calc(72px - ((100vh - 212px)/2))

  +adapt(768px)
    margin-top: 120px
    margin-bottom: calc(122px - ((100vh - 356px)/2))

  +adapt(1024px)
    margin-bottom: calc(120px - ((100vh - 516px)/2))

  +adapt(1440px)
    margin-bottom: calc(156px - ((100vh - 684px)/2))
    margin-top: 156px

.me__container

  +adapt(1024px)
    margin-left: 80px
    margin-right: 80px

  +adapt(1440px)
    margin-left: 106px
    margin-right: 318px

.tldr
  margin-bottom: 33px

  &:last-of-type
    margin-bottom: 0

  &__intro
    display: none

    +adapt(1024px)
      display: flex
      align-items: center
      flex-direction: column

  &__introText
    @extend .extract__tag

  &__introImage
    transform: translateY(-1px)

  +adapt(768px)
    grid-column: span 2
    margin-bottom: 0

  +adapt(1024px)
    grid-column: span 4

    &:first-of-type
      grid-column: 2 / span 4

  +adapt(1440px)
    grid-column: span 3

    &:first-of-type
      grid-column: 2 / span 3

.tldr__container
  margin-bottom: 42px

  +adapt(768px)
    display: grid
    grid-template-columns: repeat(4, 136px)
    column-gap: 32px

    margin-bottom: 52px

  +adapt(1024px)
    display: grid
    grid-template-columns: repeat(12, 48px)
    column-gap: 32px

    margin-bottom: 94px

  +adapt(1440px)
    display: grid
    grid-template-columns: repeat(12, 74px)
    column-gap: 32px

.who-and-showreel-alert

  +adapt(1024px)
    display: grid
    grid-template-columns: repeat(12, 48px)
    column-gap: 32px

  +adapt(1440px)
    grid-template-columns: repeat(12, 74px)
    column-gap: 32px

.who

  p:last-of-type
    margin-bottom: 0

  +adapt(768px)
    margin-right: 168px

  +adapt(1024px)
    margin-right: 0
    grid-column: 2 / span 10

  +adapt(1440px)
    margin-right: 0
    grid-column: 2 / span 7

.showreel-alert__container
  display: none

  +adapt(1440px)
    display: block
    grid-column: span 4
    position: relative
    height: 480px
    width: 480px

    transform: translate(8px, -44px)

    .arrow
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

#showreelVideo
  position: relative

  .container
    padding-top: calc((100vh - 212px) / 2)

    +adapt(768px)
      padding-top: calc((100vh - 356px) / 2)

    +adapt(1024px)
      padding-top: calc((100vh - 516px) / 2)

    +adapt(1440px)
      padding-top: calc((100vh - 684px) / 2)

.showreelVideo__player
  background-color: #06080A
  // mix-blend-mode: difference
  position: relative
  width: 100%
  height: 212px
  width: calc(100%)

  +adapt(768px)
    width: 100%
    height: 356px

  +adapt(1024px)
    height: 516px

  +adapt(1440px)
    top: 0px
    height: 684px

  display: flex
  justify-content: center
  align-items: center

  .showreelWaiting
    color: #FFF
    font-family: $fontMono
    margin-bottom: 0

    animation: showreelWaiting linear 1.618s infinite alternate

.showreelVideoReveal
  position: absolute
  z-index: -50
  height: 125vh
  width: 100%
  bottom: 0
  background-color: #000
  transform: translateY(calc((100vh - 212px) / 2))

  +adapt(768px)
    transform: translateY(calc((100vh - 356px) / 2))

  +adapt(1024px)
    transform: translateY(calc((100vh - 516px) / 2))

  +adapt(1440px)
    transform: translateY(calc((100vh - 684px) / 2))

#showreelContent
  margin-top: 35px

  +adapt(768px)
    margin-top: 71px

  .cr
    display: inline

    +adapt(768px)
      display: none

    +adapt(1024px)
      display: none

    +adapt(1440px)
      display: inline

.projects__container
  display: block
  max-width: 100%

  +adapt(768px)
    max-width: 640px

  +adapt(1024px)
    max-width: 928px

  +adapt(1440px)
    max-width: 1240px

    display: grid
    grid-template-columns: repeat(12, 74px)
    column-gap: 32px

.projects__intro
  margin-left: 40px
  margin-right: 40px
  margin-bottom: 54px

  +adapt(768px)
    margin-left: 0
    margin-right: 0
    margin-bottom: 74px
    text-align: center

  +adapt(1440px)
    text-align: left
    grid-column: 2 / span 4
    padding-right: 74px
    margin-bottom: 0

  p
    +adapt(768px)
      margin-left: 84px
      margin-right: 84px

    +adapt(1024px)
      margin-left: 160px
      margin-right: 160px

    +adapt(1440px)
      margin-left: 0
      margin-right: 0

.projects
  display: flex
  overflow-x: auto
  overflow-y: hidden
  flex-direction: row
  scroll-snap-type: x mandatory
  scroll-padding-left: 40px
  padding-left: 40px

  scrollbar-width: none

  &::-webkit-scrollbar
    display: none

  +adapt(768px)
    scroll-snap-type: none
    overflow-x: hidden
    display: grid
    grid-template-columns: repeat(4, 136px)
    column-gap: 32px
    padding-left: 0

  +adapt(1024px)
    display: grid
    grid-template-columns: repeat(12, 48px)
    column-gap: 32px

  +adapt(1440px)
    grid-column: span 6
    display: grid
    grid-template-columns: repeat(2, 286px)
    column-gap: 32px
    grid-template-rows: repeat(3, 131px)
    grid-row-gap: 53px

.project
  flex-grow: 0
  flex-shrink: 0
  width: 285px
  scroll-snap-align: start
  padding-right: 24px

  &:last-of-type
    padding-right: 89px

  +adapt(768px)
    width: 100%
    padding-right: 0
    grid-column: span 2
    margin-bottom: 53px

  +adapt(1024px)
    grid-column: span 4

  +adapt(1440px)
    grid-column: span 1
    margin-bottom: 0

#workTogether
  padding-top: 52px
  padding-bottom: 56px
  margin-top: 80px
  background-color: rgba(#06080A, 0.96)

  +adapt(768px)
    padding-top: 79px
    padding-bottom: 120px
    margin-top: 138px

  +adapt(1024px)
    padding-top: 115px
    padding-bottom: 120px

  +adapt(1440px)
    margin-top: 146px

  .container

    +adapt(1024px)
      display: grid
      grid-template-columns: repeat(12, 48px)
      column-gap: 32px

    +adapt(1440px)
      display: grid
      grid-template-columns: repeat(12, 74px)
      column-gap: 32px

    .workTogether__question

      +adapt(1024px)
        grid-column: 2 / span 9

      +adapt(1440px)
        grid-column: 1 / span 7

    .workTogether__redirect

      +adapt(1024px)
        grid-column: 2 / span 5

      +adapt(1440px)
        grid-column: 9 / span 4
        transform: translateY(27px)

      p
        color: rgba(#FFFFFF, 0.84)

        +adapt(768px)
          margin-right: 240px

        +adapt(1024px)
          margin-right: 0

      a
        text-decoration: none

      img
        transform: translate(4px, 6px)

@keyframes showreelWaiting

  100%
    opacity: 1