// TEXTS
.text-primary-dark
  color: #ffffff

.text-secondary-dark
  color: $oblivion-025

.text-tertiary-dark
  color: $oblivion-100

.text-quaternary-dark
  color: $oblivion-300

.text-primary-light
  color: $oblivion-1100

.text-secondary-light
  color: $oblivion-700

.text-tertiary-light
  color: $oblivion-500

.text-quaternary-light
  color: $oblivion-300

// ACTION
$action-focus: $maelstrom-200

$action-primary-default: $maelstrom-500
$action-primary-hover: $maelstrom-400
$action-primary-active: $maelstrom-600

$action-secondary-default: $oblivion-300
$action-secondary-hover: $oblivion-200
$action-secondary-active: $oblivion-400

$action-tertiary-oblivion-default: $thunderstorm-500
$action-tertiary-oblivion-hover: $oblivion-100

$action-tertiary-thunderstorm-default: $thunderstorm-500
$action-tertiary-thunderstorm-hover: $thunderstorm-900

$action-tertiary-maelstrom-default: $maelstrom-100
$action-tertiary-maelstrom-hover: $maelstrom-100

$action-locked-default: $oblivion-500