// Import type from AWS bucket
@font-face
  font-family: 'Bluu Suuperstar'
  src: url('https://yannglt-type.s3.eu-west-3.amazonaws.com/bluu-suuperstar-black.woff') format('woff'), url('https://yannglt-type.s3.eu-west-3.amazonaws.com/bluu-suuperstar-black.woff2') format('woff2')
  font-display: swap

@font-face
  font-family: 'GT America'
  src: url('https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-light.woff') format('woff'), url('https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-light.woff2') format('woff2'), url('https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-regular.woff') format('woff'), url('https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-regular.woff2') format('woff2'), url('https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-medium.woff') format('woff'), url('https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-medium.woff2') format('woff2')
  font-display: swap

@font-face
  font-family: 'GT America Mono'
  src: url('https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-mono-medium.woff') format('woff'), url('https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-mono-medium.woff2') format('woff2'), url('https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-mono-bold.woff') format('woff'), url('https://yannglt-type.s3.eu-west-3.amazonaws.com/gt-america-mono-bold.woff2') format('woff2')
  font-display: swap

$fontSerif: 'Bluu Suuperstar', serif
$fontSansSerif: 'GT America', 'Helvetica Neue', 'Arial', sans-serif
$fontMono: 'GT America Mono', 'Menlo', monospace

body
  font-size: 16px
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-display: swap
  line-height: 1.5em
  margin-bottom: 1em

h1
  position: relative
  color: $type-primary
  font-family: $fontSerif
  font-size: 25px
  letter-spacing: -0.81px
  line-height: 36px

  text-decoration: underline
  text-decoration-color: $type-secondary
  text-decoration-style: solid
  text-decoration-thickness: 2px
  text-underline-position: auto
  text-decoration-skip-ink: auto

  margin-bottom: 47px

  +adapt($tablet)
    font-size: 48px
    letter-spacing: -1.4px
    line-height: 64px

    margin-bottom: 40px

  +adapt($desktop-sd)
    font-size: 61px
    letter-spacing: -1.8px
    line-height: 80px

    margin-bottom: 85px

h2
  color: $type-primary
  font-size: 1.5625rem
  font-family: $fontSerif
  letter-spacing: -0.4px
  line-height: 1.28em

  margin-bottom: 15px

p, li
  color: $type-secondary
  font-family: $fontSansSerif
  letter-spacing: -0.2px
  line-height: 1.5em

  margin-bottom: 16px

.me
  color: $electricity
  font-family: $fontMono
  font-size: 16px
  font-weight: 500
  line-height: 31px
  letter-spacing: 1.5px
  text-transform: uppercase

  margin-bottom: 11px

  +adapt($tablet)
    font-size: 20px
    letter-spacing: 2px
    line-height: 40px

.emphasis

  p
    font-family: $fontSansSerif
    font-size: 20px
    font-weight: 500
    color: $type-secondary
    letter-spacing: -0.4px
    line-height: 32px

    +adapt($desktop-sd)
      font-size: 25px
      letter-spacing: -0.3px
      line-height: 36px

  a
    color: $cobalt
    font-weight: 700
    letter-spacing: -0.5px

.highlight
  font-family: $fontSerif
  font-size: 31px
  color: #FFFFFF
  letter-spacing: -1px
  line-height: 44px
  text-decoration: underline

  margin-bottom: 27px

  +adapt($tablet)
    font-size: 61px
    letter-spacing: -1.8px
    line-height: 80px

.workTogether__redirect a
  display: inline-block
  position: relative
  color: $electricity
  font-family: $fontSansSerif
  font-size: 16px
  font-weight: 600
  letter-spacing: -0.1px
  line-height: 24px

  margin-bottom: 24px

  &::after
    content: ''
    position: absolute
    left: 0
    bottom: -4px
    height: 1px
    width: 100%
    background-color: $electricity
