h1
  width: 816px

  color: $type-primary
  font-family: Bluu Suuperstar
  font-size: 61px
  letter-spacing: -1.8px
  line-height: 80px
  text-decoration: underline

  margin-bottom: 85px

p
  font-family: GT America

.tag
  color: $type-secondary
  font-family: GT America Mono
  font-size: 0.8rem
  font-weight: 600
  letter-spacing: 1.5px
  line-height: 24px
  text-transform: uppercase

  margin-bottom: 6px

  &.main
    color: $electricity
    font-size: 1.25rem
    font-weight: 500
    letter-spacing: 2px
    line-height: 40px
    margin-bottom: 16px

.title
  color: $type-primary
  font-size: 1.25rem
  font-family: Bluu Suuperstar
  letter-spacing: -0.2px
  line-height: 24px

  margin-bottom: 5px

.body
  color: $type-tertiary
  font-size: 1rem
  font-family: GT America
  font-weight: 300
  letter-spacing: -0.3px
  line-height: 24px

.emphasis
  max-width: 710px

  p
    color: $type-secondary
    font-size: 1.5625rem
    font-family: GT America
    font-weight: 300
    letter-spacing: -0.3px
    line-height: 36px

    margin-bottom: 0.8em

  a
    color: $cobalt
    font-weight: 400
