.button
  display: inline-flex
  align-items: center
  justify-content: center

  border-radius: 4px
  +motion($time-standard, $weight-small, $speed-standard, background, border-color)

  *::selection
    background: transparent

  .icon
    padding-left: 8px

  &:hover
    cursor: pointer

  &.primary, &.secondary, &.tertiary
    padding: 10px 20px
    border-radius: 4px

    &.disabled
      opacity: 0.4

  &.primary
    background-color: $action-primary-default

    .label
      color: #ffffff

    .icon
      color: $maelstrom-100

    &:hover
      background-color: $action-primary-hover

    &:active
      background-color: $action-primary-active

    &.locked
      background-color: $action-locked-default

      .icon
        color: $oblivion-100

  &.secondary
    padding: 8px 18px
    border: 2px solid $oblivion-300

    .label
      color: #ffffff

    &:not(.disabled):hover
      border-color: $action-secondary-hover

    &:not(.disabled):active
      border-color: $action-secondary-active

    &.icon-only
      padding: 12px

    &.dark

      .icon
        color: #ffffff

    &.light

      .label, .icon
        color: #000000

  &.tertiary

    &.oblivion

      &:hover
        background-color: transparentize($action-tertiary-oblivion-hover, 0.64)

      &:active
        background-color: transparentize($action-tertiary-oblivion-hover, 0.32)

      .label
        color: $oblivion-500

      .icon
        color: $oblivion-700

    &.thunderstorm

      &:hover
        background-color: transparentize($action-tertiary-thunderstorm-hover, 0.64)

      &:active
        background-color: transparentize($action-tertiary-thunderstorm-hover, 0.76)

      .label
        color: $action-tertiary-thunderstorm-default

      .icon
        color: $thunderstorm-700

    &.maelstrom

      &:hover
        background-color: transparentize($action-tertiary-maelstrom-hover, 0.64)

      &:active
        background-color: transparentize($action-tertiary-maelstrom-hover, 0.32)

      .label
        color: $maelstrom-500

      .icon
        color: $maelstrom-700

  &.quaternary
    padding: 4px 0

    .label
      @extend .caption
      +motion($time-standard, $weight-small, $speed-standard, color)

    .icon
      height: 12px
      width: 12px

    &.dark

      .label
        color: #ffffff

      .icon
        color: $thunderstorm-500

      &:not(.disabled):hover

        .label
          color: $thunderstorm-500

    &.disabled .label
      color: $oblivion-300

  &.locked:hover, &.disabled:hover
    cursor: not-allowed