.navbar
  margin: 0 auto
  width: 100%
  top: 0
  left: 50%
  position: fixed
  z-index: 404

  background-color: $oblivion-1100
  transform: translate3d(-50%, 0, 0)
  +motion($time-standard, $weight-large, $speed-accelerated, transform)

  @supports (backdrop-filter: blur(12px))
    &
      background-color: rgba($oblivion-1100, 0.9)
      backdrop-filter: blur(12px) saturate(24%)

  &.navbar-hidden
    transform: translate3d(-50%, -100%, 0)

  // Activate only if a news banner exists

  // &.homepage
  //   transform: translate3d(-50%, 72px, 0)

  //   +adapt($bkp-tablet)
  //     transform: translate3d(-50%, 48px, 0)

  //   &.homepage-hidden
  //     +adapt($bkp-desktop-hd)
  //       transform: translate3d(-50%, -100%, 0)

  //   &.navbar-hidden
  //     transform: translate3d(-50%, -100%, 0)

.navbar-content
  margin: 0 $space-s
  padding: $space-s 0
  max-width: $bkp-desktop-hd
  position: relative

  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  align-items: top

  &::after
    content: ''
    position: absolute
    width: 100%
    height: 2px
    bottom: 2px
    left: 0
    right: 0

    background-color: $oblivion-700

  +adapt($bkp-tablet)
    margin: 0 68px

  +adapt($bkp-desktop-sd)
    margin: 0 76px

  +adapt($bkp-desktop-hd)
    margin: 0 auto

  .index
    display: flex
    align-items: flex-start

    &-link
      display: inline-flex
      align-items: flex-start

    &-me
      margin-top: $space-xxxxs
      margin-left: $space-xs

    &-logo
      height: 48px
      width: 48px
      box-sizing: border-box

      border: 1px solid $oblivion-700
      border-radius: 24px
      background-image: url("../../static/icons/logo-white-24.svg")
      background-repeat: no-repeat
      background-size: 24px 24px
      background-position: center

    &-name
      color: $oblivion-025

    &-subtitle
      color: $oblivion-300

  .links
    display: none
    margin-top: $space-xxxs

    +adapt($bkp-tablet)
      display: block

  li
    display: inline-block

    a
      position: relative
      margin-left: $space-s
      margin-right: $space-s

      color: $oblivion-025

      &:not(.nuxt-link-exact-active)
        color: $oblivion-300
        position: relative

      &.nuxt-link-exact-active
        position: relative

        &::after
          content: ''
          position: absolute
          left: 50%
          bottom: -42px
          height: 2px
          width: calc(100% + #{$space-xxxs} * 2)
          z-index: 5

          background-color: $oblivion-025

          transform: translateX(-50%)

      &:hover
        color: $oblivion-025

    &:last-of-type a
      margin-right: $space-xxxs