.footer
  background-color: $oblivion-025

  .club
    padding-top: 93px
    margin-bottom: 108px
    text-align: center

    &Title
      @extend .heading-2
      margin-bottom: 13px

    &Desc
      color: $oblivion-700
      line-height: 24px
      margin-bottom: 37px

    form
      margin: 0 auto
      display: flex
      flex-direction: row
      justify-content: center
      align-items: flex-end

    &clubFormFirstname,
    &clubFormEmail
      width: 240px

    label, input
      display: block
      margin-right: 16px
      text-align: left

    label
      @extend .tag
      margin-bottom: 5px

    input
      border: 1px solid $oblivion-100
      border-radius: 4px
      background-color: transparent
      padding: 11px 16px 13px
      height: 48px

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &::placeholder
        color: $oblivion-400

      &:focus
        border: 1px solid $maelstrom-500

      &:active

    button
      @extend .tag
      font-size: 16px
      line-height: 48px
      padding: 0
      padding-left: 16px
      padding-right: 20px
      height: 48px
      background-color: $maelstrom-500
      border: 0
      color: #FFFFFF
      border-radius: 4px
      display: flex
      flex-direction: row
      align-items: center
      box-shadow: 0px 1px 3px 0px rgba(#000000, 0.08), 0px 2px 6px 0px rgba(#000000, 0.12)

      +motion($time-standard, $weight-small, $speed-standard, background-color, box-shadow, transform)

      .icon
        margin-right: 8px
        height: 24px
        width: 24px
        color: $maelstrom-100

      &:hover
        cursor: pointer
        background-color: lighten($maelstrom-500, 4%)
        transform: translateY(-2px)
        box-shadow: 0px 2px 6px 0px rgba(#000000, 0.08), 0px 6px 12px 0px rgba(#000000, 0.12)

      &:active
        background-color: darken($maelstrom-500, 4%)
        transform: translateY(0)
        box-shadow: 0px 2px 6px -4px rgba(#000000, 0.08), 0px 6px 12px -2px rgba(#000000, 0.12)

  .footer-links
    margin: 0 104px
    padding: 34px 0 138px
    border-top: 1px solid $oblivion-050

    display: grid
    grid-template-columns: repeat(10, 1fr)
    column-gap: 40px

    .footer-copyright,
      grid-column: span 3

      &Logo
        margin-top: 34px
        height: 48px
        width: 48px
        border: 1px solid $oblivion-100
        border-radius: 24px
        background-image: url("../../static/icons/logo-black-24.svg")
        background-repeat: no-repeat
        background-size: 24px 24px
        background-position: center

    .footer-explore
      grid-column: 5 / span 3

    .footer-follow
      grid-column: span 3

      .beta
        @extend .tag
        margin-left: 8px
        font-size: 10px
        line-height: 12px
        color: $oblivion-500
        padding: 4px 5px 6px
        border: 1px solid $oblivion-200
        border-radius: 4px
        vertical-align: baseline
        transform: translateY(-1px)

    .footer-copyright,
    .footer-explore,
    .footer-follow

      &Title
        @extend .tag
        color: $oblivion-900
        margin-bottom: 7px

        li
          margin-bottom: 4px