.notes-page .notes
  // Inital spacing + navbar height
  margin-top: calc(#{$space-xxl} + 96px)
  margin-bottom: $space-xxxl

  +adapt($bkp-desktop-hd)
    margin-top: calc(#{$space-xxxl} + 96px)

  .container
    @extend .gridSystem

  .notes-intro, .notes-list

    +adapt($bkp-desktop-hd)
      grid-column: 4 / span 6

  .notes-intro
    margin-bottom: $space-l

    +adapt($bkp-desktop-sd)
      margin-bottom: $space-xxl

    &-title
      margin-bottom: $space-xs

  .note
    position: relative
    // Inital margin - body padding
    padding-left: calc(#{$space-xl} - #{$space-s})
    padding-bottom: $space-l

    &:first-of-type .note-title::before
      top: 50%
      height: calc(50% + 8px)

    &:last-of-type

      .note-title::before
        height: 50%

      .note-date::before
        height: 0

    &:hover
      cursor: pointer

      .note-title
        text-decoration: underline

      .icon
        opacity: 1
        transform: translateX(0)

  .note-title
    margin-bottom: $space-xxxs
    position: relative

    &::before, &::after
      content: ''
      position: absolute

    &::before
      top: 0
      // Inital margin - circle diameter - stroke-width
      left: calc(-#{$space-s} - 8px - 1px)
      // Total height + margin-bottom
      height: calc(100% + 8px)
      width: 2px
      z-index: -5

      background-color: $oblivion-500

    &::after
      height: 16px
      width: 16px
      top: 50%
      left: calc((#{$space-xl} - #{$space-s}) * -1)
      box-sizing: border-box

      border-radius: 8px
      border: 2px solid $oblivion-500
      background-color: $oblivion-1100

      transform: translateY(-50%)

  .icon
    padding-left: 8px

    color: $thunderstorm-500

    opacity: 0
    transform: translateX(-8px)
    +motion($time-quick, $weight-small, $speed-standard, transform, opacity)

  .note-date
    position: relative

    &::before
      content: ''
      position: absolute
      top: 0
      // Inital margin - circle diameter - stroke-width
      left: calc(-#{$space-s} - 8px - 1px)
      // Total height + margin-bottom
      height: calc(100% + #{$space-l})
      width: 2px
      z-index: -5

      background-color: $oblivion-500